.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1427px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 80px;
  object-position: 50% 0.28%;
  margin: 120px auto 0;
}

.u-section-1 .u-text-1 {
  line-height: 1.8;
  font-size: 1.125rem;
  width: 519px;
  margin: 120px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  background-image: none;
  font-weight: normal;
  margin: 120px auto 0 auto;
}

.u-section-1 .u-line-1 {
  width: 570px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 0 auto 0 280px;
}

.u-section-1 .u-line-2 {
  width: 570px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 10px auto 0 300px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 341px;
  width: 500px;
  height: auto;
  margin: 116px auto 0 433px;
}

.u-section-1 .u-shape-1 {
  width: 14px;
  height: 20px;
  margin: -309px auto 0 403px;
}

.u-section-1 .u-shape-2 {
  width: 14px;
  height: 20px;
  margin: 66px auto 0 403px;
}

.u-section-1 .u-shape-3 {
  width: 14px;
  height: 20px;
  margin: 66px auto 0 403px;
}

.u-section-1 .u-shape-4 {
  width: 14px;
  height: 20px;
  margin: 66px auto 60px 403px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 514px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    text-align: center;
    margin: 116px auto auto auto;
    
  }

  .u-section-1 .u-line-1 {
    transform-origin: right center 0px;
    margin-top: -3px;
    margin-left: 178px;
  }

  .u-section-1 .u-line-2 {
    transform-origin: right center 0px;
    margin-left: 212px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 306px;
    margin-left: 330px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 306px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 306px;
  }

  .u-section-1 .u-shape-3 {
    margin-left: 306px;
  }

  .u-section-1 .u-shape-4 {
    margin-left: 306px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1265px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 80px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.6rem;
    margin-top: 80px;
    margin-left: 97px;
    margin-right: 97px;
  }

  .u-section-1 .u-line-1 {
    width: 520px;
    margin-top: 0;
    margin-left: 80px;
  }

  .u-section-1 .u-line-2 {
    width: 520px;
    margin-left: 110px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 107px;
    margin-right: 196px;
    margin-left: 220px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 196px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 196px;
  }

  .u-section-1 .u-shape-3 {
    margin-left: 196px;
  }

  .u-section-1 .u-shape-4 {
    margin-bottom: 91px;
    margin-left: 196px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1324px;
  }

  .u-section-1 .u-image-1 {
    height: 75px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
    width: 519px;
  }

  .u-section-1 .u-text-2 {
    margin-right: -1px;
    margin-left: 14px;
  }

  .u-section-1 .u-line-1 {
    width: 520px;
    transform-origin: right center 0px;
    margin-left: 0px;
  }

  .u-section-1 .u-line-2 {
    width: 520px;
    transform-origin: right center 0px;
    margin-left: 30px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 106px;
    margin-left: 130px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 106px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 106px;
  }

  .u-section-1 .u-shape-3 {
    margin-left: 106px;
  }

  .u-section-1 .u-shape-4 {
    margin-left: 106px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1366px;
  }

  .u-section-1 .u-image-1 {
    height: 47px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.8rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    transform-origin: left center 0px;
    width: 340px;
    margin-left: -21px;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
    margin-right: -13px;
    margin-left: auto;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 67px;
    margin-right: 5px;
    margin-left: 3px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: -20px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: -20px;
  }

  .u-section-1 .u-shape-3 {
    margin-left: -20px;
  }

  .u-section-1 .u-shape-4 {
    margin-left: -20px;
  }
}